#R
.Rproj.user
.Rhistory
.RData
*.RData
.Ruserdata
.Rproj
*.Rproj
/data-raw/
.Rbuildignore
IMP_ENVIAR_MARCO_BACKUP_FINAL.txt
workspace.RData
#confidential files
/data/
/private/
/.vscode/
